<h1>ユーザー情報</h1>

<p>メールアドレス：<%= @user.email %></p>
<%# 以下を追記 %>
<p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
<p><%= link_to '登録解除', unsubscribe_path(@user), method: :delete, data: { confirm: '本当に登録解除しますか？' } %></p>