<h1>todo</h1>
<a href="/">Return</a><br>
<a href="/books/new">新規登録</a>
<ul>
  <% @books.each do |book| %>
    <li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
  <% end %>
  <%= button_to "ログアウト",{controller: 'sessions', action: 'destroy'}, method: :delete %>
</ul>